<template name="CampaignsEdit">

   <!-- {{> upload_bootstrap }}-->

   	<div class="normalheader small-header">
        <div class="hpanel">
            <div class="panel-body">
            	<div class="col-lg-6 col-md-6">
	                <div id="hbreadcrumb" class="">
	                    <ol class="hbreadcrumb breadcrumb">
	                        <!--<li><a class="btn btn-link text-uppercase" href="">Channels</a></li>
	                        <li class=""><a class="btn btn-link" href="">General Channel</a></li>-->
	                        <li class=""><a class="btn btn-link text-uppercase text-ellipsis" href="{{pathFor route='campaigns'}}">Campaigns</a></li>
	                        <li class="active"><a class="btn btn-link text-primary" href="">{{campaign.name}}</a></li>
	                    </ol>
	                </div>
	            </div>
	            <div class="col-lg-6 col-md-6">
	                <div class="pull-right">
	                	<a href="../details/{{campaign._id}}" class="btn btn-default text-uppercase m-l-sm"><i class="fa fa-pie-chart m-r-xs"></i> View Statistics</a>
	                	{{> CBuilder }}
	                	<!--<a class="btn btn-default text-uppercase m-l-sm">Cancel</a>	              
	                	<a class="btn btn-primary text-uppercase m-l-sm"><i class="fa fa-check m-r-xs"></i> Save</a>-->
	                </div>
	            </div>
            </div>
        </div>
    </div>

	<div class="content" id="content">
		{{> CampaignsEditEditForm}}
	</div>
</template>

<template name="CampaignsEditEditForm">

	<div id="campaigns-edit-edit-form" class="">
		<form role="form">
			<div class="row">
				<div class="col-lg-12">
					{{#if errorMessage}}
					<div class="alert alert-warning">
						{{errorMessage}}
					</div>
					{{/if}}		
				
					{{#if infoMessage}}
					<div class="alert alert-success">
						{{infoMessage}}
					</div>
					{{/if}}
				</div>
			</div>
			<div class="row">
			    <div class="col-lg-6">

					<div class="hpanel">
			            <div class="panel-heading hbuilt wborder bg-white text-dark">
			                Campaign Details
			                <div class="panel-tools">

						    </div>
			            </div>
			            <div class="panel-body">
			                <div class="row m-b-md">
			                    <div class="col-lg-12">
									<div class="form-group text-left field-name">
										<label for="name">
											Name
										</label>
										<div class="input-div">
											<input type="text" id="campaignName" name="name" value="{{campaign.name}}" class="form-control" autofocus="autofocus" required="required">
											<span id="help-text" class="help-block">
											</span>
											<span id="error-text" class="help-block">
											</span>
										</div>
									</div>
									<div class="form-group text-left field-description">
										<label for="description">
											Description
										</label>
										<div class="input-div">
											<textarea rows="3" name="description" value="{{campaign.description}}" class="form-control" style="resize:vertical;"></textarea>
											<span id="help-text" class="help-block">
											</span>
											<span id="error-text" class="help-block">
											</span>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group text-left field-startdate">
												<label for="sdate">
													Start Date
												</label>
												<div class="input-div">
								                    <div class="input-group datetimepicker">
								                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								                        <input name="sdate" id="idInput" value="{{formatDate campaign.sdate ''}}" class="set-due-date form-control" type="text"/>
								                    </div>
							                        <span id="help-text" class="help-block">
							                        </span>
							                        <span id="error-text" class="help-block">
							                        </span>
								                </div>
								            </div>
								        </div>
								        <div class="col-sm-6">
								            <div class="form-group text-left field-enddate">
								                <label for="edate">
								                    End Date
								                </label>
								                <div class="input-div">
								                    <div class="input-group datetimepicker">
								                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								                        <input name="edate" id="idInput" value="{{formatDate campaign.edate ''}}" class="set-due-date form-control" type="text"/>
								                    </div>
							                        <span id="help-text" class="help-block">
							                        </span>
							                        <span id="error-text" class="help-block">
							                        </span>
								                </div>
								            </div>
								        </div>
								    </div>
						            <!--div class="form-group text-left field-active m-b-none m-t-sm">
						            	<label for="edate">
						                    Active Campaign
						                </label>
						                <div class="input-div">
						                    <div class="checkbox no-padding no-margins">
						                        <input type="checkbox" class="js-switchActive"  value="{{booleanToYesNo campaign.active}}" name="active" data-type="bool" {{itemIsChecked campaign.active true}}>
						                    </div>
						                </div>
						            </div-->
						        </div>
						    </div>
						
				            <div class="row m-b-md" style="border-top:1px solid #efefef">
			                    <div class="col-lg-12 m-t-md">
						            <div class="form-group m-b-none">
						                <label style="display:block;" class="text-left m-b-md" for="">Campaign Keywords</label>

						                {{#each camp}}
                                            
                                                {{#each keyword}}

                                                    {{#if compare value "empty"}}
                                                        
                                                    {{else}}
                                                        <div class="input-group m-b-sm">
									                    	<input class="form-control keyword-key" id="" type="text" value="{{key}}" placeholder="" style="float:left;max-width:calc(50% + 1px);">
									                    	<input class="form-control keyword-value" id="" type="text" value="{{value}}" placeholder="" style="float:left;max-width:50%;margin-left:-1px;">
									                    	<span class="input-group-btn">
									                    		<a id="removeKey" style="width:37px;background-color:#efefef !important" href="#" class="btn btn-default text-center {{key}}"><i class="fa fa-times"></i></a>
									                    	</span>
									                    </div>
                                                    {{/if}}


                                                {{/each}}
                                            
                                        {{/each}}

                                        <div class="input-div">
						                    <div class="input-group">
						                    	<input class="form-control" id="keyword_key" type="text" value="" placeholder="User Keyword..." style="float:left;max-width:calc(50% + 1px);">
						                    	<input class="form-control" id="keyword_value" type="text" value="" placeholder="Brand Answer..." style="float:left;max-width:50%;margin-left:-1px;">
						                    	<span class="input-group-btn">
						                    		<button id="insertKey" type="button" class="btn btn-default"><i class="fa fa-plus"></i></button>
						                    	</span>
						                    </div>
						                </div>
						            </div>
			                    </div>
			                </div>
			                <div class="row m-b-md" style="border-top:1px solid #efefef">
			                    <div class="col-lg-12 m-t-md">
						            <div class="form-group text-left m-b-none">
						                <label style="display:block" class="m-b-md" for="">External Content Details</label>

                                        {{#each camp}}
                                        
                                            {{#each rss}}

                                                {{#if compare value "empty"}}

                                                {{else}}
                                                    <div class="input-group m-b-sm">
								                    	<input disabled class="form-control" id="" type="text" value="{{key}}" placeholder="" style="float:left;max-width:calc(30% + 1px);">
								                    	<input disabled class="form-control" id="" type="text" value="{{value}}" placeholder="" style="float:left;max-width:70%;margin-left:-1px;">
								                    	<span class="input-group-btn">
								                    		<a id="removeKeyRSS" style="width:37px;background-color:#efefef !important" href="#" class="btn btn-default text-center"><i class="fa fa-times"></i></a>
								                    	</span>
								                    </div>
                                                {{/if}}

                                            {{/each}}
                                            
                                        {{/each}}

                                        <div class="input-div">
						                    <div class="input-group">
						                    	<input class="form-control" id="rss_key" type="text" value="" placeholder="Channel Name..." style="float:left;max-width:calc(30% + 1px);">
						                    	<input class="form-control" id="rss_value" type="text" value="" placeholder="RSS Link URL..." style="float:left;max-width:70%;margin-left:-1px;">
						                    	<span class="input-group-btn">
						                    		<button id="insertKeyRSS" type="button" class="btn btn-default"><i class="fa fa-plus"></i></button>
						                    	</span>
						                    </div>
						                </div>

						            </div>

			                    </div>
			                </div>
					    </div>
					</div>
				</div>

			    <div class="col-lg-6">
					<div class="hpanel">
			            <div class="panel-heading hbuilt wborder bg-white text-dark">
                            Chat Platforms Selection

			                <div class="panel-tools">

						    </div>
			            </div>
			            <div class="panel-body">
			                <div class="row">
						        <div class="col-lg-12">
			                    	<!--label class="m-b-md" for=""><span class="text-primary">5</span> Chat Apps Selected</label-->
					                <div class="row no-padding m-b-md">
			                    		<div class="col-lg-4 col-md-4 text-center">
					                        <div class="form-group field-fb-active">
					                        	<img class="m-b-sm m-r-sm" style="width:64px;float:left;" src="/images/apps/app-logo-messenger.png">
					                            <p style="font-size: 14px" class="m-b-xs text-left">Messenger</p>
					                            <div class="input-div text-left">
					                                <div class="checkbox no-padding no-margins">
					                                    <input type="checkbox" class="js-switchFB"  value="{{booleanToYesNo campaign.fb}}" name="fb_plat" data-type="bool" {{itemIsChecked campaign.fb_plat true}}>
					                                </div>
					                            </div>
					                        </div>
					                    </div>
                                        <div class="col-lg-4 col-md-4 text-center">
                                            <div class="form-group field-kik-active">
                                                <img class="m-b-sm m-r-sm" style="width:64px;float:left;" src="/images/apps/app-logo-kik.png">
                                                <p style="font-size: 14px" class="m-b-xs text-left">Kik</p>
                                                <div class="input-div text-left">
                                                    <div class="checkbox no-padding no-margins">
                                                        <input type="checkbox" class="js-switchKik"  value="{{booleanToYesNo campaign.activeKik}}" name="kik_plat" data-type="bool" {{itemIsChecked campaign.kik_plat true}}>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 text-center">
                                            <div class="form-group field-te-active">
                                                <img class="m-b-sm m-r-sm" style="width:64px;float:left;" src="/images/apps/app-logo-telegram.png">
                                                <p style="font-size: 14px" class="m-b-xs text-left">Telegram</p>
                                                <div class="input-div text-left">
                                                    <div class="checkbox no-padding no-margins">
                                                        <input type="checkbox" class="js-switchTe"  value="{{booleanToYesNo campaign.te}}" name="te_plat" data-type="bool" {{itemIsChecked campaign.te_plat true}}>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
									</div>
                                    <div class="row no-padding m-b-md">
                                        <div class="col-lg-4 col-md-4 text-center">
                                            <div class="form-group field-vi-active">
                                                <img class="m-b-sm m-r-sm" style="width:64px;float:left;" src="/images/apps/app-logo-slack.png">
                                                <p style="font-size: 14px" class="m-b-xs text-left">Slack</p>
                                                <div class="input-div text-left">
                                                    <div class="checkbox no-padding no-margins">
                                                        <input type="checkbox" class="js-switchSl"  value="{{booleanToYesNo campaign.sl}}" name="sl_plat" data-type="bool" {{itemIsChecked campaign.sl_plat true}}>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 text-center">
                                            <div class="form-group field-sk-active">
                                                <img class="m-b-sm m-r-sm" style="width:64px;float:left;" src="/images/apps/app-logo-skype.png">
                                                <p style="font-size: 14px" class="m-b-xs text-left">Skype</p>
                                                <div class="input-div text-left">
                                                    <div class="checkbox no-padding no-margins">
                                                        <input type="checkbox" class="js-switchSk"  value="{{booleanToYesNo campaign.sk}}" name="sk_plat" data-type="bool" {{itemIsChecked campaign.sk_plat true}}>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 text-center">
                                            <div class="form-group field-ka-active">
                                                <img class="m-b-sm m-r-sm" style="width:64px;float:left;" src="/images/apps/app-logo-talk.png">
                                                <p style="font-size: 14px" class="m-b-xs text-left">KakaoTalk</p>
                                                <div class="input-div text-left">
                                                    <div class="checkbox no-padding no-margins">
                                                        <input type="checkbox" class="js-switchKa"  value="{{booleanToYesNo campaign.ka}}" name="ka_plat" data-type="bool" {{itemIsChecked campaign.ka_plat true}}>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
					                <div class="row no-padding m-b-md">
                                        <div class="col-lg-4 col-md-4 text-center" style="opacity: 0.3">
                                            <div class="form-group field-wha-active">
                                                <img class="m-b-sm m-r-sm" style="width:64px;float:left;" src="/images/apps/app-logo-whatsapp.png">
                                                <p style="font-size: 14px" class="m-b-xs text-left">WhatsApp</p>
                                                <div class="input-div text-left">
                                                        <!--<div class="checkbox no-padding no-margins">-->
                                                     <!--<input type="checkbox" class="js-switchWha"  value="{{booleanToYesNo campaign.wha}}" name="wha_plat" data-type="bool" {{itemIsChecked campaign.wha_plat true}}>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 text-center" style="opacity: 0.3">
                                            <div class="form-group field-we-active">
                                                <img class="m-b-xs m-r-sm" style="width:64px;float:left;" src="/images/apps/app-logo-wechat.png">
                                                <p style="font-size: 14px" class="m-b-sm text-left">WeChat</p>
                                                <div class="input-div text-left">
                                                    <!--<div class="checkbox no-padding no-margins">-->
                                                        <!--<input type="checkbox" class="js-switchWe"  value="{{booleanToYesNo campaign.we}}" name="we_plat" data-type="bool" {{itemIsChecked campaign.we_plat true}}>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                        </div>
					                    <div class="col-lg-4 col-md-4 text-center" style="opacity: 0.3">
					                        <div class="form-group field-li-active">
					                        	<img class="m-b-sm m-r-sm" style="width:64px;float:left;" src="/images/apps/app-logo-line.png">
					                            <p style="font-size: 14px" class="m-b-xs text-left">Line</p>
					                            <div class="input-div text-left">
					                                <!--<div class="checkbox no-padding no-margins">-->
					                                    <!--<input type="checkbox" class="js-switchLi"  value="{{booleanToYesNo campaign.li}}" name="li_plat" data-type="bool" {{itemIsChecked campaign.li_plat true}}>-->
					                                <!--</div>-->
					                            </div>
					                        </div>
					                    </div>

									</div>

					                <div class="row no-padding m-b-md">

                                        <div class="col-lg-4 col-md-4 text-center" style="opacity: 0.3">
                                            <div class="form-group field-vi-active">
                                                <img class="m-b-sm m-r-sm" style="width:64px;float:left;" src="/images/apps/app-logo-viber.png">
                                                <p style="font-size: 14px" class="m-b-xs text-left">Viber</p>
                                                <div class="input-div text-left">
                                                    <!--<div class="checkbox no-padding no-margins">-->
                                                        <!--<input type="checkbox" class="js-switchVi"  value="{{booleanToYesNo campaign.vi}}" name="vi_plat" data-type="bool" {{itemIsChecked campaign.vi_plat true}}>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                        </div>

					                    <div class="col-lg-4 col-md-4 text-center" style="opacity: 0.3">
					                        <div class="form-group field-sn-active">
					                        	<img class="m-b-sm m-r-sm" style="width:64px;float:left;" src="/images/apps/app-logo-snapchat.png">
					                            <p style="font-size: 14px" class="m-b-xs text-left">Snapchat</p>
					                            <div class="input-div text-left">
					                                <!--<div class="checkbox no-padding no-margins">-->
					                                    <!--<input type="checkbox" class="js-switchSn"  value="{{booleanToYesNo campaign.sn}}" name="sn_plat" data-type="bool" {{itemIsChecked campaign.sn_plat true}}>-->
					                                <!--</div>-->
					                            </div>
					                        </div>
					                    </div>
                                        <div class="col-lg-4 col-md-4 text-center" style="opacity: 0.3">
                                            <div class="form-group field-ta-active">
                                                <img class="m-b-sm m-r-sm" style="width:64px;float:left;" src="/images/apps/app-logo-tango.png">
                                                <p style="font-size: 14px" class="m-b-xs text-left">Tango</p>
                                                <div class="input-div text-left">
                                                    <!--<div class="checkbox no-padding no-margins">-->
                                                        <!--<input type="checkbox" class="js-switchTa"  value="{{booleanToYesNo campaign.ta}}" name="ta_plat" data-type="bool" {{itemIsChecked campaign.ta_plat true}}>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                        </div>


					                </div>
					                <div class="row no-padding m-b-md">
                                        <div class="col-lg-4 col-md-4 text-center" style="opacity: 0.3">
                                            <div class="form-group field-qq-active">
                                                <img class="m-b-sm m-r-sm" style="width:64px;float:left;" src="/images/apps/app-logo-qq.png">
                                                <p style="font-size: 14px" class="m-b-xs text-left">QQ</p>
                                                <div class="input-div text-left">
                                                    <!--<div class="checkbox no-padding no-margins">-->
                                                        <!--<input type="checkbox" class="js-switchQq"  value="{{booleanToYesNo campaign.qq}}" name="qq_plat" data-type="bool" {{itemIsChecked campaign.qq_plat true}}>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                        </div>

					                    <div class="col-lg-4 col-md-4 text-center">
					                        <div class="form-group field-hi-active" style="opacity: 0.3">
					                        	<img class="m-b-sm m-r-sm" style="width:64px;float:left;" src="/images/apps/app-logo-hipchat.png">
					                            <p style="font-size: 14px" class="m-b-xs text-left">HipChat</p>
					                            <div class="input-div text-left">
					                                <!--<div class="checkbox no-padding no-margins">-->
					                                    <!--<input type="checkbox" class="js-switchHi"  value="{{booleanToYesNo campaign.hi}}" name="hi_plat" data-type="bool" {{itemIsChecked campaign.hi_plat true}}>-->
					                                <!--</div>-->
					                            </div>
					                        </div>
					                    </div>
					                    <div class="col-lg-4 col-md-4 text-center">
					                        <div class="form-group field-ni-active" style="opacity: 0.3">
					                        	<img class="m-b-sm m-r-sm" style="width:64px;float:left;" src="/images/apps/app-logo-nimbuzz.png">
					                            <p style="font-size: 14px" class="m-b-xs text-left">Nimbuzz</p>
					                            <div class="input-div text-left">
					                                <!--<div class="checkbox no-padding no-margins">-->
					                                    <!--<input type="checkbox" class="js-switchNi"  value="{{booleanToYesNo campaign.ni}}" name="ni_plat" data-type="bool" {{itemIsChecked campaign.ni_plat true}}>-->
					                                <!--</div >-->
					                            </div>
					                        </div>
					                    </div>
					         <!--          <div class="col-lg-4 col-md-4 text-center">
					                        <div class="form-group field-im-active" style="opacity: 0.3">
					                        	<img class="m-b-sm m-r-sm" style="width:64px;float:left;" src="/images/apps/app-logo-imessage.png">
					                            <p class="m-b-xs text-left">iMessage</p>
					                            <div class="input-div text-left">
					                                <div class="checkbox no-padding no-margins">
					                                    <input type="checkbox" class="js-switchIm"  value="{{booleanToYesNo campaign.im}}" name="im_plat" data-type="bool" {{itemIsChecked campaign.im_plat true}}>
					                                </div>
					                            </div>
					                        </div>
					                    </div-->
					                </div>

			                    </div>
			                </div>



			            </div>

                        <div class="panel-body">
                            <div class="row">


                                <div class="col-lg-12">
                                    <!--label class="m-b-md" for="">Setup </label-->
                                    <div class="row no-padding m-b-md">







                                    </div>
                                </div>






                            </div>





                        </div>

			        </div>
			    </div>


                <!--
                <table id="dataview-table" class="table table-hover tour-5">
                    <thead id="dataview-table-header">
                    <tr id="dataview-table-header-row">
                        <th class="th-sortable" data-sort="name">
                            Platform <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="description">
                            Web hook <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="sdate">
                            Bot Manager <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="edate">
                            User <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="edate">
                            Token <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="edate">
                            Validate <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="dataview-table-items">

                        <tr id="dataview-table-items-row">

                            <td class="va-middle">
                                <input  id="facebook_platform" name="facebook_platform" type="text" value="{{campaign.facebook_platform}}" >
                            </td>

                            <td class="va-middle">
                                <input  id="facebook_webhook" name="facebook_webhook" type="text" value="{{campaign.facebook_webhook}}" >
                            </td>

                            <td class="va-middle">
                                <input  id="facebook_botmanager" name="facebook_botmanager" type="text" value="{{campaign.facebook_botmanager}}" >
                            </td>

                            <td class="va-middle">
                                <input  id="facebook_account" name="facebook_account" type="text" value="{{campaign.facebook_account}}" >
                            </td>

                            <td class="va-middle">
                                <input  id="facebook_token" name="facebook_token" type="text" value="{{campaign.facebook_token}}" >
                            </td>

                            <td>
                                <span id="fb-validate-button" class="btn btn-primary text-uppercase m-r-sm" title="vaildate"></span>
                            </td>

                        </tr>

                    </tbody>
                </table>


                <table id="dataview-table" class="table table-hover tour-5">
                    <thead id="dataview-table-header">
                    <tr id="dataview-table-header-row">
                        <th class="th-sortable" data-sort="name">
                            Platform <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="description">
                            Web hook <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="sdate">
                            Bot Manager <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="edate">
                            User <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="edate">
                            Token <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="edate">
                            Validate <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="dataview-table-items">

                    <tr id="dataview-table-items-row">

                        <td class="va-middle">
                            <input  id="kik_platform" name="kik_platform" type="text" value="{{campaign.kik_platform}}" >
                        </td>

                        <td class="va-middle">
                            <input  id="kik_webhook" name="kik_webhook" type="text" value="{{campaign.kik_webhook}}" >
                        </td>

                        <td class="va-middle">
                            <input  id="kik_botmanager" name="kik_botmanager" type="text" value="{{campaign.kik_botmanager}}" >
                        </td>

                        <td class="va-middle">
                            <input  id="kik_account" name="kik_account" type="text" value="{{campaign.kik_account}}" >
                        </td>

                        <td class="va-middle">
                            <input  id="kik_token" name="kik_token" type="text" value="{{campaign.kik_token}}" >
                        </td>

                        <td>
                            <span id="fb-validate-button" class="btn btn-primary text-uppercase m-r-sm" title="vaildate"></span>
                        </td>

                    </tr>

                    </tbody>
                </table>


                <table id="dataview-table" class="table table-hover tour-5">
                    <thead id="dataview-table-header">
                    <tr id="dataview-table-header-row">
                        <th class="th-sortable" data-sort="name">
                            Platform <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="description">
                            Web hook <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="sdate">
                            Bot Manager <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="edate">
                            User <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="edate">
                            Token <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                        <th class="th-sortable" data-sort="edate">
                            Validate <span class="pull-right m-r-sm"><i class="fa fa-sort"></i></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="dataview-table-items">

                    <tr id="dataview-table-items-row">

                        <td class="va-middle">
                            <input  id="telegram_platform" name="telegram_platform" type="text" value="{{campaign.telegram_platform}}" >
                        </td>

                        <td class="va-middle">
                            <input  id="telegram_webhook" name="telegram_webhook" type="text" value="{{campaign.telegram_webhook}}" >
                        </td>

                        <td class="va-middle">
                            <input  id="telegram_botmanager" name="telegram_botmanager" type="text" value="{{campaign.telegram_botmanager}}" >
                        </td>

                        <td class="va-middle">
                            <input  id="telegram_account" name="telegram_account" type="text" value="{{campaign.telegram_account}}" >
                        </td>

                        <td class="va-middle">
                            <input  id="telegram_token" name="telegram_token" type="text" value="{{campaign.telegram_token}}" >
                        </td>

                        <td>
                            <span id="fb-validate-button" class="btn btn-primary text-uppercase m-r-sm" title="vaildate"></span>
                        </td>

                    </tr>

                    </tbody>
                </table>-->


			    <div class="col-lg-12 m-b-lg">


					<div class="form-group">
						<div class="submit-div">
							<button id="form-submit-button" class="btn btn-primary text-uppercase m-r-sm" type="submit">
								<span class="fa fa-check m-r-xs"></span> Save Changes
							</button>
                            <button id="form-submit-button-dup" class="btn btn-primary text-uppercase m-r-sm" type="submit">
                                <span class="fa fa-check m-r-xs"></span> Clone
                            </button>
							<button type="button" id="form-cancel-button" class="btn btn-default text-uppercase m-r-sm">
								Cancel
							</button>
						</div>
					</div>
				</div>

			</div><!-- /row -->

		</form>

	</div>

</template>

