@navbar_height: 50px;

body {
	color: #efefef;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #ffffff;
	color:#2e2e2e;
}

.navbar-default {
	background-color: #375a7f;
	border: none;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #ffffff;
	background-color: #28415b;
}


.navbar-inverse {
	background-color: #00bc8c;
	border: none;
}

.navbar-inverse .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
	color: #ffffff;
	background-color: #00a379;
}
