<template name="Broadcasting">

    <a id="openEditor"
       class="various fancybox.iframe btn btn-primary text-uppercase m-l-sm"
       href="https://scheduler.chatsuite.im">
        <i class="fa fa-pencil m-r-xs"></i>
        Open Broadcasting
    </a>



</template>



