<template name="ForgotPassword">
	<div class="content" id="content">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4">
                <div class="hpanel">
                	<div class="panel-heading hbuilt wborder bg-white text-dark text-center">
	                	Welcome to BetterBrand, reset your password
	            	</div>
                    <div class="panel-body">
                        {{#if resetPasswordSent}}
						<div class="accounts-info-box text-center">
							<p class="lead text-dark text-center">
								Password reset instructions are sent to your e-mail address.
							</p>
							<a href="{{pathFor 'login'}}" class="btn btn-lg btn-primary text-cent" id="reset_password_sent">
								OK
							</a>
						</div>
						{{else}}
						<form id="forgot_password_form" class="account-form" role="form">
							{{#if errorMessage}}
							<div class="alert alert-warning">
								{{errorMessage}}
							</div>
							{{/if}}
							<input id="reset_email" type="text" class="form-control" placeholder="Email address" required autofocus>
							<button class="btn btn-lg btn-primary btn-block m-b-lg" type="submit" data-loading-text="Please wait...">
								Submit
							</button>
						</form>
						{{/if}}
                        <div class="row">
                        	<div class="col-sm-6">
                            	<p class="m-b-none text-dark account-form-text-after" id="register-link">
									Not a member?<br />
									<a style="color:#0066cb" href="{{pathFor 'register'}}">
										Sign Up
									</a>
								</p>
                        	</div>
                        	<div class="col-sm-6 text-right">
								<p class="m-b-none text-dark account-form-text-after">
									Already a member?<br />
									<a style="color:#0066cb" href="{{pathFor 'login'}}">
										Sign In
									</a>
								</p>	                            		
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>




<template name="ForgotPassword2">
	<div class="container">
		{{#if resetPasswordSent}}
		<div class="accounts-info-box">
			<h2>
				Forgot password
			</h2>
			<p>
				Password reset instructions are sent to your e-mail address.
			</p>
			<a href="{{pathFor 'login'}}" class="btn btn-lg btn-primary" id="reset_password_sent">
				OK
			</a>
		</div>
		{{else}}
		<form id="forgot_password_form" class="account-form" role="form">
			<h2 class="account-form-heading">
				Forgot password
			</h2>
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}
			<input id="reset_email" type="text" class="form-control" placeholder="Email address" required autofocus>
			<button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="Please wait...">
				Submit
			</button>
		</form>
		{{/if}}
	</div>
</template>

