<template name="Support">



    <div class="normalheader small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div class="col-lg-3 col-md-2">
                    <div id="hbreadcrumb" class="">
                        <ol class="hbreadcrumb breadcrumb">
                            <li class="active"><a class="btn btn-link text-primary text-uppercase" href="{{pathFor route=''}}">Support</a></li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-9 col-md-10">
                    <div class="pull-right">
                        <form id="" class="form-inline" style="margin-bottom:0">    
                            <div id="" class="form-group m-b-none">
                                <div class="btn-group" style="max-width:210px">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="" placeholder="Search for help..." name="search" value="" autofocus="autofocus">
                                        <span class="input-group-btn">
                                            <button type="button" id="" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>          
                            <div id="" class="form-group m-b-none">
                                <a href="{{pathFor route=''}}" id="" class="btn btn-primary text-uppercase m-l-sm"><i class="fa fa-plus m-r-xs"></i>Ask New Question</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content" id="content">

        <div class="row">
            <div class="col-lg-4">

                <div class="hpanel">
                    <div class="panel-heading hbuilt wborder bg-white text-dark">
                        Getting Started
                    </div>
                    <div class="panel-body panel-support">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <!--<span class="label label-primary text-uppercase">New Question</span>-->
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">BetterBrand Glossary</h4></a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body panel-support">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <!--<span class="label label-primary text-uppercase">New Question</span>-->
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">Quick Setup</h4></a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body panel-support">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <!--<span class="label label-primary text-uppercase">New Question</span>-->
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">F.A.Q's</h4></a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body panel-support" style="border-bottom:none">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <!--<span class="label label-primary text-uppercase">New Question</span>-->
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">Contact</h4></a>
                            </div>
                        </div>
                    </div>

                </div><!-- panel section -->

            </div>

            <div class="col-lg-4">

                <div class="hpanel">
                    <div class="panel-heading hbuilt wborder bg-white text-dark">
                        Campaigns Dashboard
                    </div>
                    <div class="panel-body panel-support">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <!--<span class="label label-primary text-uppercase">New Question</span>-->
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">New campaign setup</h4></a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body panel-support">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <!--<span class="label label-primary text-uppercase">New Question</span>-->
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">Integrating with chat apps</h4></a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body panel-support">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <!--<span class="label label-primary text-uppercase">New Question</span>-->
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">Predefined bots</h4></a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body panel-support" style="border-bottom:none">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <!--<span class="label label-primary text-uppercase">New Question</span>-->
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">Keywords & External Feeds</h4></a>
                            </div>
                        </div>
                    </div>

                </div><!-- panel section -->

            </div>

            <div class="col-lg-4">

                <div class="hpanel">
                    <div class="panel-heading hbuilt wborder bg-white text-dark">
                        Campaign Editor
                    </div>
                    <div class="panel-body panel-support">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">Decision Tree navigation</h4></a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body panel-support">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">Brand Editor</h4></a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body panel-support">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">User Editor</h4></a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body panel-support" style="border-bottom:none">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">Media formats supported</h4></a>
                            </div>
                        </div>
                    </div>


                </div><!-- panel section -->

            </div> 


            <div class="col-lg-4">

                <div class="hpanel">
                    <div class="panel-heading hbuilt wborder bg-white text-dark">
                        Analytics
                    </div>
                    <div class="panel-body panel-support">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">Comparing performance</h4></a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body panel-support">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">Exporting data</h4></a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body panel-support">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">Overall campaign analytics</h4></a>
                            </div>
                        </div>
                    </div>

                </div><!-- panel section -->

            </div>      


            <div class="col-lg-4">

                <div class="hpanel">
                    <div class="panel-heading hbuilt wborder bg-white text-dark">
                        Audience
                    </div>
                    <div class="panel-body panel-support">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">Grouping</h4></a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body panel-support">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">Filters</h4></a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body panel-support">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">Notifications</h4></a>
                            </div>
                        </div>
                    </div>

                </div><!-- panel section -->

            </div>   


            <div class="col-lg-4">

                <div class="hpanel">
                    <div class="panel-heading hbuilt wborder bg-white text-dark">
                        Settings
                    </div>
                    <div class="panel-body panel-support">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">User Account</h4></a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body panel-support">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">Brand Account</h4></a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body panel-support">
                        <div class="row">
                            <div class="col-md-12 forum-heading">
                                <a href="{{pathFor route=''}}"><h4 class="text-primary m-t-sm m-b-sm">System Configuration</h4></a>
                            </div>
                        </div>
                    </div>

                </div><!-- panel section -->

            </div>       
                

                

            
        </div>
    </div>



</template>