<template name="navigation">


    <aside id="menu">

        <div id="navigation">

            <div class="profile-picture m-t-sm m-b-sm">
                <a href="{{pathFor route='dashboard'}}">
                    <img src="/images/profile.jpg" class="img-circle m-b" alt="BetterBrand">
                </a>

                <div class="stats-label text-color">
                    <span class="font-extra-bold text-white">BetterBrand</span>

                    <!--<div class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <small class="text-muted">Founder of App <b class="caret"></b></small>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="{{pathFor route='contacts'}}">Contacts</a></li>
                            <li><a href="{{pathFor route='profile'}}">Profile</a></li>
                            <li><a href="{{pathFor route='analytics'}}">Analytics</a></li>
                            <li class="divider"></li>
                            <li><a href="{{pathFor route='login'}}">Logout</a></li>
                        </ul>
                    </div>-->


                    <!--<div id="sparkline1" class="small-chart m-t-sm"></div>
                    <div>
                        <h4 class="font-extra-bold m-b-xs">
                            $260 104,200
                        </h4>
                        <small class="text-muted">Your income from the last year in sales product X.</small>
                    </div>-->
                </div>
            </div>

            <ul class="nav" id="side-menu">

                <li class="{{isActiveRoute regex='campaigns'}}">

                    <a href="{{pathFor route='campaigns'}}"><span class="pe-7s-speaker m-r-sm pe-2x va-middle text-center" style="margin-top:-2px;width:40px"></span> <span class="nav-label">Campaigns</span></a>
                    <!--<a href="#"><span class="fa fa-circle m-r-sm"></span> <span class="nav-label">Channels</span><span class="fa arrow"></span> </a>-->
                    <!--<ul class="nav nav-second-level {{isActiveRoute regex='campaigns' className='in'}}">


                        <ul class="nav nav-second-level {{isActiveRoute}}">
                            <li class="{{isActiveRoute regex='campaigns'}}">
                                <a class="text-white" href="{{pathFor route='campaigns'}}">
                                    Channel Name #1 </a>
                            </li>

                            {{> navigationView }}
                        </ul>-->


                       <!-- <ul class="nav nav-second-level {{isActiveRoute}}">

                            <li class="{{isActiveRoute regex='campaigns'}}">
                                <a href="{{pathFor route='campaigns'}}">
                                    <span class="label label-warning">Create Campaign</span> </a>
                            </li>

                            <li class="{{isActiveRoute regex='campaigns'}}">
                                {{> navigationView }}
                            </li>

                        </ul>-->













                        <!--<li class="{{isActiveRoute regex='typography'}}"><a href="{{pathFor route='typography'}}">Campaign2</a>
                        </li>
                        <li class="{{isActiveRoute regex='buttons'}}"><a href="{{pathFor route='buttons'}}">Data &amp;
                            Campaign3</a></li>
                        <li class="{{isActiveRoute regex='components'}}"><a href="{{pathFor route='components'}}">Campaign4</a>
                        </li>
                        <li class="{{isActiveRoute regex='alerts'}}"><a href="{{pathFor route='alerts'}}">Campaign5</a>
                        </li>
                        <li class="{{isActiveRoute regex='modals'}}"><a href="{{pathFor route='modals'}}">Campaign6</a>
                        </li>
                        <li class="{{isActiveRoute regex='draggable'}}"><a href="{{pathFor route='draggable'}}">Campaign7</a>
                        </li>
                        <li class="{{isActiveRoute regex='codeEditor'}}"><a href="{{pathFor route='codeEditor'}}">Campaign8</a>
                        </li>
                        <li><a href="emailTemplate/email_template.html">Campaign9</a></li>
                        <li class="{{isActiveRoute regex='nestableList'}}"><a href="{{pathFor route='nestableList'}}">Campaign10</a>
                        </li>
                        <li class="{{isActiveRoute regex='tour'}}"><a href="{{pathFor route='tour'}}">Campaign11</a>
                        </li>
                        <li class="{{isActiveRoute regex='icons'}}"><a href="{{pathFor route='icons'}}">Campaign12</a>
                        </li>-->
                    <!--</ul>-->



                </li>


                <li class="{{isActiveRoute regex='dashboard'}}">
                    <a href="{{pathFor route='dashboard'}}"><span class="pe-7s-display1 m-r-sm pe-2x va-middle text-center" style="margin-top:-2px;width:40px"></span> <span class="nav-label">Analytics</span><!--<span
                            class="label label-warning pull-right">NEW</span>--> </a>
                </li>


                <li class="{{isActiveRoute regex='audience'}}">
                    <a href="{{pathFor route='audience'}}"><span class="pe-7s-id m-r-sm pe-2x va-middle text-center" style="margin-top:-2px;width:40px"></span> <span class="nav-label">Audience</span><!--<span
                            class="label label-warning pull-right">3</span>--> </a>
                </li>

                <li class="{{isActiveRoute regex='user_settings'}}">
                    <a href="{{pathFor route='user_settings'}}"><span class="pe-7s-tools m-r-sm pe-2x va-middle text-center" style="margin-top:-2px;width:40px"></span> <span class="nav-label">Settings</span> <!--<span
                            class="label label-success pull-right">3</span>--> </a>
                </li>

                <li class="{{isActiveRoute regex='support'}}">
                    <a href="{{pathFor route='support'}}"><span class="pe-7s-help2 m-r-sm pe-2x va-middle text-center" style="margin-top:-2px;width:40px"></span> <span class="nav-label">Support</span> <!--<span
                            class="label label-success pull-right">3</span>--> </a>
                </li>                

                <!--
                <li class="{{isActiveRoute regex='emailView|emailCompose|notes|appPlans|faq|contacts|projects|project|socialBoard|timeline|profile|mailbox|blog|blogDetails|forum|forumDetails|gallery|calendar|search|chatView|fileManager|invoice'}}">
                    <a href="#"><span class="nav-label">App views</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level {{isActiveRoute regex='emailView|emailCompose|notes|appPlans|faq|contacts|projects|project|socialBoard|timeline|profile|mailbox|blog|blogDetails|forum|forumDetails|gallery|calendar|search|chatView|fileManager|invoice' className="in"}}">
                        <li class="{{isActiveRoute regex='contacts'}}"><a href="{{pathFor route='contacts'}}">Contacts</a></li>
                        <li class="{{isActiveRoute regex='projects'}}"><a href="{{pathFor route='projects'}}">Projects</a></li>
                        <li class="{{isActiveRoute regex='project'}}"><a href="{{pathFor route='project'}}">Project detail</a></li>
                        <li class="{{isActiveRoute regex='appPlans'}}"><a href="{{pathFor route='appPlans'}}">App plans</a></li>
                        <li class="{{isActiveRoute regex='socialBoard'}}"><a href="{{pathFor route='socialBoard'}}">Social board</a></li>
                        <li class="{{isActiveRoute regex='faq'}}"><a href="{{pathFor route='faq'}}">FAQ</a></li>
                        <li class="{{isActiveRoute regex='timeline'}}"><a href="{{pathFor route='timeline'}}">Timeline</a></li>
                        <li class="{{isActiveRoute regex='notes'}}"><a href="{{pathFor route='notes'}}">Notes</a></li>
                        <li class="{{isActiveRoute regex='profile'}}"><a href="{{pathFor route='profile'}}">Profile</a></li>
                        <li class="{{isActiveRoute regex='mailbox'}}"><a href="{{pathFor route='mailbox'}}">Mailbox</a></li>
                        <li class="{{isActiveRoute regex='emailCompose'}}"><a href="{{pathFor route='emailCompose'}}">Email compose</a></li>
                        <li class="{{isActiveRoute regex='emailView'}}"><a href="{{pathFor route='emailView'}}">Email view</a></li>
                        <li class="{{isActiveRoute regex='blog'}}"><a href="{{pathFor route='blog'}}">Blog</a></li>
                        <li class="{{isActiveRoute regex='blogDetails'}}"><a href="{{pathFor route='blogDetails'}}">Blog article</a></li>
                        <li class="{{isActiveRoute regex='forum'}}"><a href="{{pathFor route='forum'}}">Forum</a></li>
                        <li class="{{isActiveRoute regex='forumDetails'}}"><a href="{{pathFor route='forumDetails'}}">Forum details</a></li>
                        <li class="{{isActiveRoute regex='gallery'}}"><a href="{{pathFor route='gallery'}}">Gallery</a></li>
                        <li class="{{isActiveRoute regex='calendar'}}"><a href="{{pathFor route='calendar'}}">Calendar</a></li>
                        <li class="{{isActiveRoute regex='invoice'}}"><a href="{{pathFor route='invoice'}}">Invoice</a></li>
                        <li class="{{isActiveRoute regex='fileManager'}}"><a href="{{pathFor route='fileManager'}}">File manager</a></li>
                        <li class="{{isActiveRoute regex='chatView'}}"><a href="{{pathFor route='chatView'}}">Chat view</a></li>
                        <li class="{{isActiveRoute regex='search'}}"><a href="{{pathFor route='search'}}">Search view</a></li>
                    </ul>
                </li>

                <li class="{{isActiveRoute regex='chartist|chartJs|flot|inlineGraphs'}}">
                    <a href="#"><span class="nav-label">Charts</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level {{isActiveRoute regex='chartist|chartJs|flot|inlineGraphs' className="in"}}">
                        <li class="{{isActiveRoute regex='chartJs'}}"><a href="{{pathFor route='chartJs'}}">ChartJs</a></li>
                        <li class="{{isActiveRoute regex='flot'}}"><a href="{{pathFor route='flot'}}">Flot charts</a></li>
                        <li class="{{isActiveRoute regex='inlineGraphs'}}"><a href="{{pathFor route='inlineGraphs'}}">Inline graphs</a></li>
                        <li class="{{isActiveRoute regex='chartist'}}"><a href="{{pathFor route='chartist'}}">Chartist</a></li>
                    </ul>
                </li>
                <li class="{{isActiveRoute regex='transitionOverview|transitionOne|transitionTwo|transitionThree|transitionFour|transitionFive'}}">
                    <a href="#"><span class="nav-label">Box transitions</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level {{isActiveRoute regex='transitionOverview|transitionOne|transitionTwo|transitionThree|transitionFour|transitionFive' className="in"}}">
                        <li class="{{isActiveRoute regex='transitionOverview'}}"><a href="{{pathFor route='transitionOverview'}}"><span class="label label-success pull-right">Start</span> Overview </a>  </li>
                        <li class="{{isActiveRoute regex='transitionOne'}}"><a href="{{pathFor route='transitionOne'}}">Columns from up</a></li>
                        <li class="{{isActiveRoute regex='transitionTwo'}}"><a href="{{pathFor route='transitionTwo'}}">Columns custom</a></li>
                        <li class="{{isActiveRoute regex='transitionThree'}}"><a href="{{pathFor route='transitionThree'}}">Panels zoom</a></li>
                        <li class="{{isActiveRoute regex='transitionFour'}}"><a href="{{pathFor route='transitionFour'}}">Rows from down</a></li>
                        <li class="{{isActiveRoute regex='transitionFive'}}"><a href="{{pathFor route='transitionFive'}}">Rows from right</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"><span class="nav-label">Common views</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li><a href="{{pathFor route='login'}}">Login</a></li>
                        <li><a href="{{pathFor route='register'}}">Register</a></li>
                        <li><a href="{{pathFor route='errorOne'}}">Error 404</a></li>
                        <li><a href="{{pathFor route='errorTwo'}}">Error 505</a></li>
                        <li><a href="{{pathFor route='lock'}}">Lock screen</a></li>
                    </ul>
                </li>
                <li class="{{isActiveRoute regex='tablesDesign|dataTables|fooTable'}}">
                    <a href="#"><span class="nav-label">Tables</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level {{isActiveRoute regex='tablesDesign|dataTables|fooTable' className="in"}}">
                        <li class="{{isActiveRoute regex='tablesDesign'}}"><a href="{{pathFor route='tablesDesign'}}">Tables design</a></li>
                        <li class="{{isActiveRoute regex='dataTables'}}"><a href="{{pathFor route='dataTables'}}">Data tables</a></li>
                        <li class="{{isActiveRoute regex='fooTable'}}"><a href="{{pathFor route='fooTable'}}">Foo Table</a></li>

                    </ul>
                </li>
                <li class="{{isActiveRoute regex='widgets'}}">
                    <a href="{{pathFor route='widgets'}}"> <span class="nav-label">Widgets</span> <span class="label label-success pull-right">Special</span></a>
                </li>
                <li class="{{isActiveRoute regex='formsElements|formsExtended|textEditor|wizard|validation'}}">
                    <a href="#"><span class="nav-label">Forms</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level {{isActiveRoute regex='formsElements|formsExtended|textEditor|wizard|validation' className="in"}}">
                        <li class="{{isActiveRoute regex='formsElements'}}"><a href="{{pathFor route='formsElements'}}">Forms elements</a></li>
                        <li class="{{isActiveRoute regex='formsExtended'}}"><a href="{{pathFor route='formsExtended'}}">Forms extended</a></li>
                        <li class="{{isActiveRoute regex='textEditor'}}"><a href="{{pathFor route='textEditor'}}">Text editor</a></li>
                        <li class="{{isActiveRoute regex='wizard'}}"><a href="{{pathFor route='wizard'}}">Wizard</a></li>
                        <li class="{{isActiveRoute regex='validation'}}"><a href="{{pathFor route='validation'}}">Validation</a></li>
                    </ul>
                </li>
-->
                <!--<li class="{{isActiveRoute regex='options'}}">
                    <a href="{{pathFor route='options'}}"> <span class="nav-label">Layout options</span></a>
                </li>
                <li class="{{isActiveRoute regex='layouts'}}">
                    <a href="{{pathFor route='gridSystem'}}"> <span class="nav-label">Grid system</span></a>
                </li>
                <li>
                    <a href="{{pathFor route='landingPage'}}"> <span class="nav-label">Landing page</span></a>
                </li>-->

            </ul>
        </div>
    </aside>

</template>

<template name="navigationView">
        {{#if isNotEmpty}}
                    {{#if viewAsTable}} {{> navigationViewTable}} {{/if}}
        <!--{{else}}
        <li class="{{isActiveRoute regex='campaigns'}}">
            <a href="{{pathFor route='campaigns'}}">Campaigns</a>
        </li>-->
        {{/if}}
</template>

<template name="navigationViewTable">

        {{#each tableItems}} {{> navigationViewTableItems}} {{/each}}

</template>

<template name="navigationViewTableItems">

    <!--<li class="{{isActiveRoute regex='cBuilder'}}"><a href="{{pathFor route='cBuilder'}}">&nbsp;{{name}}</a>
    </li>-->


    <li class="{{isActiveRoute regex='campaigns'}}">
        <a href="{{pathFor route='campaigns'}}">
            <span class="label label-default">{{name}}</span> </a>
    </li>



</template>