<template name="splash">
    <!-- Simple splash screen-->
    <div class="splash">
        <div class="color-line"></div>
        <div class="splash-title"><h1>BetterBrand onGoing</h1>
            <p>Better Better Better</p><img src="images/loading-bars.svg" width="64" height="64"/></div>
    </div>
    
</template>
